<title>Ceylon Fiberio|Dashboard</title>

<div class="content">
  <br>
  <h2><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16" style="margin-bottom: 8px">
    <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
  </svg>
    Dashboard</h2>


  <h3>Ceylon Fiberio Manufacturing PVT Ltd.</h3>
  <h5> <i> ~Step into Light through Nature~ </i></h5>
  <br><br>

  <div class="container">

    <div class="row d-flex justify-content-center">
      <div class="col-md-3 " >
        <button routerLink="/admin/products" type="settings" class="btn" style="height: 200px; width: 325px; background-color: aliceblue;">Coco Products</button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-3 " >
        <button routerLink="/admin/orders"type="settings" class=" btn " style="height: 200px; width: 325px; background-color: aliceblue;">Orders</button>
      </div>
    </div>

    <br><br>

    <div class="row d-flex justify-content-center">
      <div class="col-md-3 " >
        <button routerLink="/admin/clients" type="settings" class="btn" style="height: 200px; width: 325px; background-color: aliceblue;">Clients</button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-md-3 " >
        <button routerLink="/admin/settings"type="settings" class=" btn " style="height: 200px; width: 325px; background-color: aliceblue;">Settings</button>
      </div>
    </div>

    <br>

    <!--    <div class="row d-flex justify-content-center">-->
    <!--      <div class="col-md-3 " >-->
    <!--        <button type="settings" class="btn" style="height: 100px; width: 325px; background-color: aliceblue;">Explore More</button>-->
    <!--      </div>-->
    <!--      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--      <div class="col-md-3 " >-->
    <!--        <button type="settings" class=" btn " style="height: 100px; width: 325px; background-color: aliceblue;">Explore More</button>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <br><br>-->
  </div>


</div>
